
.background_container {
    height:100vh;
    min-height: 100vh;
    position: relative;   
    background-color: "#f9f9f9";
    z-index:0;
    overflow: hidden;
} 

.background_main { 
    position: absolute;
    height: 480px;
    left: 0;
    right: 0;
    top: 14%;
    bottom: 0;
    z-index: 0;
    -webkit-transform: skewY(-30deg);
    transform: skewY(-30deg); 
    background-color: #f5f5f5 ;
}

.background_main .top  {
    right: 0;
    width: 44%;
    border-bottom: 8px solid #e0e8fc;
}
.background_main .bottom {
    position: absolute;
    border-top: 8px solid #e0e8fc;
    height: 400px;
    top: 100%;
    left: 60%;
    bottom: 0;
    width: 70%;
    right: 100; 
}

.form_container {
    /* border: 1px solid red; */
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
}

.form_container_box {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    padding: 30px;
    height: 100vh;
}

.form_container_box_form {
    /* border: 1px solid red; */
    width: 40%;
    margin: auto;
    min-height: 70vh;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}




.background_container {
    height:100vh;
    min-height: 100vh;
    position: relative;   
    background-color: "#f9f9f9";
    z-index:0;
    overflow: hidden;
} 
    

.background_main { 
    position: absolute;
    height: 480px;
    left: 0;
    right: 0;
    top: 14%;
    bottom: 0;
    z-index: 0;
    -webkit-transform: skewY(-30deg);
    transform: skewY(-30deg); 
    background-color: #f5f5f5 ;
}

.background_main .top  {
    right: 0;
    width: 44%;
    border-bottom: 8px solid #e0e8fc;
}
.background_main .bottom {
    position: absolute;
    border-top: 8px solid #e0e8fc;
    height: 400px;
    top: 100%;
    left: 60%;
    bottom: 0;
    width: 70%;
    right: 100; 
}


.form_container {
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
}

.form_container_box {
    width: 80%;
    margin: auto;
    padding: 30px;
    height: 100vh;
}

.form_container_box_form {
   
    width: 40%;
    margin: auto;
    min-height: 70vh;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
label {
    color: #787c86;
    font-weight: 600;
    font-size: 16px;
}
input {
    height: 40px;
    border-radius: 10px;
    /* outline: transparent; */
    border: 1.5px solid lightgray;
}

.form>div:nth-child(2) {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
   padding: 10px 0px 10px 0px;
   
}
.form>div:nth-child(3) {
    color: #787c86;
    font-weight: 600;
    
    text-align: center;
   padding: 10px 0px 10px 0px;
}
.form>div:nth-child(4) {
    color: #787c86;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    width: 60%;
}

.boxes{
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width:100px) and (max-width:575px)  { 
    .form_container_box {
        width: 100%;
        padding: 10px;
    }
    .form_container_box_form {
        /* border: 1px solid red; */
        width: 90%;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }
 }

 @media only screen and (min-width:576px) and (max-width:768px)  {
    .form_container_box {
        width: 90%;
        padding: 20px;
    }
    .form_container_box_form {
        /* border: 1px solid red; */
        width: 60%;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }
    
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .form_container_box {
        width: 90%;
        padding: 20px;
    }
    .form_container_box_form {
        /* border: 1px solid red; */
        width: 50%;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .form_container_box {
        width: 90%;
        padding: 20px;
    }
    .form_container_box_form {
        /* border: 1px solid red; */
        width: 50%;
        margin: auto;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }
 }


@media (min-width: 1200px) { 

 }